{% extends 'base.html' %}

{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Add Expense</h3>
            <form action="/addexpense", method="POST">
                <div class="form-group">
                    <label for="">Date</label>
                    <input class="form-control" type="date" name="date" id="date">
                    <br>
                </div>
                <div class="form-group">
                    <label for="">Expense Name</label>
                    <input class="form-control" type="text" name="expensename" id="expensename">
                    <br>
                </div>
                <div class="form-group">
                    <label for="">Expense Amount</label>
                    <input class="form-control" type="text" name="amount" id="amount">
                </div>
                <div class="form-group">
                    <label for="">Expense Category</label>
                    <select class="form-control" name="expensecatagory" id="expensecatagory">
                        <option value="food">Food</option>
                        <option value="movie">Movie</option>
                        <option value="buisness">Buisness</option>
                        <option value="grocery">Grocery</option>
                        </select>
                    <br>
                </div>

                <input class="btn btn-danger" type="submit" value="Add" id="">
            </form>
        </div>
    </div>
</div>

{% endblock %}